Repository JuliaLang/Pkg.jl, pull requests merged in 2018-12, with the labels that each got.

#946 Bring back package naming guidelines, fix #945.
  docs/src/creating-packages.md
Labels: docs

#726 Implement option to yank/blacklist a release.
  src/Operations.jl
  test/registry.jl
Labels: registries

#938 better error message when we cant find uuid in manifest
  src/API.jl
Labels: backport pending 1.0

#947 Add basedocs for the base julia manual.
  docs/src/basedocs.md
Labels: docs

#927 Expand tilde in local path completions
  src/REPLMode.jl
Labels: REPL

#954 fix #915: status -m Package prints status of Package's deps
  src/API.jl
  src/Display.jl
  src/REPLMode.jl
Labels: display and printing, enhancement

#964 Reset JULIA_PKG_DEVDIR when testing.
  test/utils.jl
Labels: backport pending 1.1

#963 Fixed `pinned`
  ext/TOML/src/TOML.jl
  ext/TOML/src/print.jl
  src/Types.jl
Labels: backport pending 1.1
