Repository JuliaLang/Pkg.jl, pull requests merged in 2019-01, with the labels that each got.

#986 Pkg REPL: sort commands within each super-spec
  src/REPLMode.jl
Labels: REPL

#985 fix rm: `project.extras` also contains dependency names
  src/Operations.jl
  test/pkg.jl
Labels: backport pending 1.0, backport pending 1.1

#991 doc: fix numbering of chapters, fix #944.
  docs/src/api.md
  docs/src/glossary.md
Labels: backport pending 1.1, docs

#992 doc: move misplaced versions kwarg from makedocs to deploydocs.
  docs/make.jl
Labels: backport pending 1.1, docs

#998 doc: include docstrings for Pkg REPL commands in the manual.
  .gitignore
  docs/generate.jl
  docs/make.jl
  docs/src/api.md
Labels: REPL, backport pending 1.1, docs

#999 doc: "registry-add" to "registry add" in documentation,
  docs/generate.jl
  src/REPLMode.jl
Labels: backport pending 1.1, docs

#1004 Escape non-code dateformat characters
  ext/TOML/src/print.jl
Labels: backport pending 1.0, backport pending 1.1, bugfix

#1016 Don't throw for missing Versions.toml in the registry
  src/Operations.jl
Labels: backport pending 1.0, backport pending 1.1

#1023 Expand `Pkg` guide
  docs/src/getting-started.md
Labels: docs
