Repository JuliaLang/Pkg.jl, pull requests merged in 2019-03, with the labels that each got.

#1105 Fix generation of REPL command docstrings.
  docs/generate.jl
  test/pkg.jl
Labels: docs

#1104 Fix basedocs.md for building Julia's documentation.
  docs/src/basedocs.md
Labels: docs

#1102 `instantiate` should not update unecessarily
  src/API.jl
  test/pkg.jl
  test/test_packages/NotUpdated/Manifest.toml
  test/test_packages/NotUpdated/Project.toml
Labels: bugfix

#1109 Update redirect from stable to v1
  index.html
Labels: docs

#1110 Update canonical URL.
  docs/make.jl
Labels: backport pending 1.0, backport pending 1.1, docs

#1114 doc: coverage=false is the default
  src/Pkg.jl
Labels: backport pending 1.0, backport pending 1.1, docs

#1121 Remove help for non-existent activate -.
  src/REPL/command_declarations.jl
Labels: docs

#1103 Build a pdf version of the Pkg.jl manual.
  .travis.yml
  docs/Project.toml
  docs/make.jl
Labels: docs
