Repository JuliaLang/Pkg.jl, pull requests merged in 2019-08, with the labels that each got.

#1194 Add verbose option to Pkg.instantiate
  src/API.jl
  src/Pkg.jl
  src/REPL/command_declarations.jl
  test/repl.jl
Labels: API, enhancement, triage

#1293 fix tab completions for packages not defining any julia compat
  src/REPL/completions.jl
Labels: bugfix

#1292 Adjustments to `pin` API
  src/Operations.jl
  test/api.jl
  test/pkg.jl
Labels: API

#1053 Capture output
  src/API.jl
  src/Display.jl
  src/GitTools.jl
  src/Operations.jl
  src/Registry.jl
  src/Types.jl
  src/backwards_compatible_isolation.jl
  src/require.jl
  test/registry.jl
  test/repl.jl
  test/utils.jl
Labels: display and printing

#1321 Minor typo in docstring for Pkg.add
  src/Pkg.jl
Labels: docs

#1319 Update creating-packages.md
  docs/src/creating-packages.md
Labels: docs

#1086 Query interface
  docs/src/api.md
  src/API.jl
  src/Operations.jl
  src/Pkg.jl
  src/Types.jl
  test/pkg.jl
  test/repl.jl
Labels: API

#1327 Tweak API docs for `dependencies` and `project`
  docs/src/api.md
  src/Pkg.jl
Labels: docs
