Repository JuliaLang/Pkg.jl, pull requests merged in 2022-02, with the labels that each got.

#2972 CI: make the CI output quiet
  .github/workflows/test.yml
Labels: test, CI

#2920 Improve handling of preferences for sandboxes used in Pkg
  Project.toml
  src/Operations.jl
  test/artifacts.jl
  test/sandbox.jl
  test/test_packages/AugmentedPlatform/.pkg/platform_augmentation.jl
  test/test_packages/Sandbox_PreservePreferences/Manifest.toml
  test/test_packages/Sandbox_PreservePreferences/Project.toml
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/Manifest.toml
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/Project.toml
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/src/Foo.jl
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/test/LocalPreferences.toml
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/test/Project.toml
  test/test_packages/Sandbox_PreservePreferences/dev/Foo/test/runtests.jl
  test/test_packages/Sandbox_PreservePreferences/src/Sandbox_PreservePreferences.jl
  test/test_packages/Sandbox_PreservePreferences/test/runtests.jl
Labels: test, sandbox, build, artifacts

#2995 Drop build info from julia version stored in manifest
  src/Operations.jl
  test/manifest/formats/v2.0/Manifest.toml
  test/manifest/formats/v3.0_unknown/Manifest.toml
  test/manifests.jl
Labels: backport pending 1.7
