Repository JuliaLang/Pkg.jl, pull requests merged in 2022-06, with the labels that each got.

#3099 Make `--outdated` tip coordinate with status mode
  src/Operations.jl
Labels: backport 1.8

#3105 Add missing compat repl mode docs
  docs/generate.jl
Labels: backport 1.8, docs

#3109 enforce not running with startup file when selecting dynamic artifacts and improve error message
  src/Operations.jl
Labels: backport 1.8

#3100 Clarify what happens if one activates a project without instantiating it
  docs/src/environments.md
Labels: backport 1.6, backport 1.8, docs

#3104 Expand precompilation docs
  docs/src/environments.md
Labels: backport 1.6, backport 1.8, docs
